* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.signage-container {
  width: 100%;
}

/* use grid for 3-split screen */
.mainExp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  opacity: 1;
  transition: opacity 3s ease;
}

/* left and right video displays */
.left-display, .right-display {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#left-video, #right-video {
  width: 100%;
}

/* for jackpot overlays */
.left-overlay, .right-overlay {
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 500%;
}
.left-overlay {
  color: rgb(150, 201, 38);
}
.right-overlay {
  color: rgb(67, 37, 126);
}

/* use flexbox for center display */
.center-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(rgb(133, 132, 132), rgb(233, 232, 232));
}

.tiles {
  width: 560px;
  height: 220px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 300%;
}
#tile-1 {
  background-color: rgb(150, 201, 38);
}
#tile-2 {
  background-color: rgb(67, 37, 126);
}
#tile-3 {
  background-color: orange;
}
#tile-4 {
  background-color: gray;
}

/* for takeover video */
.takeOver {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease;
}